{% extends 'base.html' %}


{% block contenido_que_cambia %}
<p style="text-align: center">
    _________________________________________________________________________________________________________________________________________________________________________
</p>
<h3 style="text-align: center">ESTAS QUERIENDO BORRAR UN ARTICULO</h3>
<h4 style="text-align: center">¿Está seguro que desea borrar este articulo?</h4>
<p style="text-align: center">
    _________________________________________________________________________________________________________________________________________________________________________
</p>
<div class="col-lg-6">
    <!-- Blog post-->
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="https://library.sportingnews.com/styles/crop_style_16_9_mobile_2x/s3/2022-03/pelota.jpg?itok=eh8sP1to" alt="..." /></a>
        <div class="card-body">
            <h2 class="card-title h4">{{article.title}}</h2>
            <h4 class="card-text">{{article.description}}</h4>
            <p class="card-text">{{article.creation_date}} - Autor: {{article.author}}</p>
        </div>
    </div>
</div>
<form action="" method="POST">
    {% csrf_token %}

    <p><input type="submit" value="Borrar"></p>

</form>

{% endblock %}